/* thai */
@font-face {
    font-family: 'Pridi';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('Pridi Light'), local('Pridi-Light'), url(https://fonts.gstatic.com/s/pridi/v5/2sDdZG5JnZLfkc02i30wT0CWAbUdXCg.woff2) format('woff2');
    unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Pridi';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('Pridi Light'), local('Pridi-Light'), url(https://fonts.gstatic.com/s/pridi/v5/2sDdZG5JnZLfkc02i30rT0CWAbUdXCg.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Pridi';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('Pridi Light'), local('Pridi-Light'), url(https://fonts.gstatic.com/s/pridi/v5/2sDdZG5JnZLfkc02i30qT0CWAbUdXCg.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Pridi';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('Pridi Light'), local('Pridi-Light'), url(https://fonts.gstatic.com/s/pridi/v5/2sDdZG5JnZLfkc02i30kT0CWAbUd.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }



  /* latin-ext */
@font-face {
    font-family: 'Black Ops One';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Black Ops One Regular'), local('BlackOpsOne-Regular'), url(https://fonts.gstatic.com/s/blackopsone/v11/qWcsB6-ypo7xBdr6Xshe96H3aDXbtxsis4IxXw.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Black Ops One';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Black Ops One Regular'), local('BlackOpsOne-Regular'), url(https://fonts.gstatic.com/s/blackopsone/v11/qWcsB6-ypo7xBdr6Xshe96H3aDvbtxsis4I.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }


  /* thai */
@font-face {
  font-family: 'Bai Jamjuree';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Bai Jamjuree Medium'), local('BaiJamjuree-Medium'), url(https://fonts.gstatic.com/s/baijamjuree/v3/LDIqapSCOBt_aeQQ7ftydoa0reHegJo02SuCgcva.woff2) format('woff2');
  unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}
/* vietnamese */
@font-face {
  font-family: 'Bai Jamjuree';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Bai Jamjuree Medium'), local('BaiJamjuree-Medium'), url(https://fonts.gstatic.com/s/baijamjuree/v3/LDIqapSCOBt_aeQQ7ftydoa0reHem5o02SuCgcva.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Bai Jamjuree';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Bai Jamjuree Medium'), local('BaiJamjuree-Medium'), url(https://fonts.gstatic.com/s/baijamjuree/v3/LDIqapSCOBt_aeQQ7ftydoa0reHempo02SuCgcva.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Bai Jamjuree';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Bai Jamjuree Medium'), local('BaiJamjuree-Medium'), url(https://fonts.gstatic.com/s/baijamjuree/v3/LDIqapSCOBt_aeQQ7ftydoa0reHelJo02SuCgQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}